.rate-container {
    width: 40%;
    display: flex;
    border-radius: 4px;
    border: 1px solid var(--tail-grids-color, #3056D3);
    background: var(--white, #FFF);
}

.currencies-names {
    color: var(--tail-grids-text-color, #637381);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
}
  
  .rate {
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
}