.App {
  text-align: center;
  background: #F6F8FB;
}

.App-header {
  color: var(--color-states-common-black, #223354);
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 80%;
  margin-left: 10%;
}
.App-body {
    display: flex;
    flex-direction: row;
    background: #F6F8FB;
}

.currency-rates {
  width: 40%;
  padding-left: 8%;
  padding-right: 4%;
  height: 120px;
  margin-top: 30px;
}

.rates-container {
  border-radius: 8px;
  border: 1px solid var(--stroke, #E7E7E7);
  background: var(--white, #FFF);
  display: flex;
  width: 100%;
}

.currency-graphs {
  width: 40%;
}
